# Virtual Environment
tutorial-env/
ai-stable-env/
venv/
.venv/

# Byte-code files
*.pyc
__pycache__/

# User Media (where files uploaded by users will go)
djangotutorial/media

# Local Settings (often used to override settings without committing them)
local_settings.py

# Logs
*.log