./idea
.DS_store

# Virtual Environment
tutorial-env/
ai-stable-env/
venv/
.venv/

# Byte-code files
*.pyc
__pycache__/

# User Media (where files uploaded by users will go)
djangotutorial/media

# Local Settings (often used to override settings without committing them)
local_settings.py

# Logs
*.log


djangotutorial/yolov8n.pt
djangotutorial/vgg16_weights_tf_dim_ordering_tf_kernels.h5