.result-item {
    color: white;
    display: flex;
    gap: 20px;
}

.uploaded-item-cnt {
    border: 1px solid var( --color-text-primary);
    padding: 3px;
}

.uploaded-item {
    width: 194px;
    height: 194px;
    display: flex;

    img, video {
        object-fit: contain;
        max-width: 194px;
    }
}

.result-text {
    color: white;
}

.audio-player {
    width: 100%;
}
