:root {
    --color-bg-dark: #000;
     --color-text-primary: #0F0;
    --color-accent-neon: #39FF14;       
    --color-content-bg: rgba(0, 0, 0, 0.8);
    --color-accent-light: rgba(57, 255, 20, 0.1);
}

* {   
    box-sizing: border-box !important; 
    font-family: "Ubuntu Sans Mono", monospace;
}

#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

#content {
    position: relative;
    padding: 50px 20px 30px 20px;
    z-index: 1; 
    max-width: 900px;
    margin: 40px auto;
    border: 1px solid var(--color-text-primary); 
    background-color: var(--color-content-bg);
}

body {
    background-color: var(--color-bg-dark); 
    padding-top: 150px;
    position: relative;
}

h2,  h3, a {
    color: var(--color-text-primary); 
}

.protocol-header {
    position: absolute;
    top: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
  
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
        1px 1px 0  var(--color-accent-neon),
        -1px -1px 0  var(--color-accent-neon),
        1px -1px 0  var(--color-accent-neon),
        -1px 1px 0  var(--color-accent-neon),
        2px 2px 0  var(--color-accent-neon); 
} 

.link {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--color-accent-neon); 
    
    span {
        color: white;
    }
}

.link:focus {
    outline: none; 
    border: 2px solid var(--color-accent-neon); 
    background-color: var(--color-accent-light); 
    box-shadow: 0 0 8px var(--color-accent-neon);
}

.divider {
    color: var( --color-text-primary);
    margin-bottom: 25px;
}